[Desktop Entry]
Name=Media Downloader
Exec=/opt/mediadownloader/Downloader_Backend --desktop
Icon=mediadownloader
Type=Application
Categories=Internet;
Terminal=false
