[Desktop Entry]
Name=Media Downloader
Exec=/opt/mediadownloader/Downloader_Backend
Icon=/opt/mediadownloader/wwwroot/favicon.png  # Add your icon to repo if needed
Type=Application
Categories=Internet;
Terminal=false
