[Unit]
Description=Media Downloader Backend (User)
After=default.target

[Service]
ExecStart=/opt/mediadownloader/Downloader_Backend
WorkingDirectory=/opt/mediadownloader
Restart=always

[Install]
WantedBy=default.target
