[Unit]
Description=Media Downloader Backend
After=network.target

[Service]
Type=simple
ExecStart=/opt/mediadownloader/Downloader_Backend --service
WorkingDirectory=/opt/mediadownloader
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
